/*
text and highlights: #05386B
darker green: #379683
background light green: #white
lighter greenL #8EE4AF
Tan for text: #EDF5E1
*/

html {
  --section-background-color: beige;

  --image-gradient: white;

  --imp-text-color: black;
}

html,
#app {
  height: 100%;
  background: white;
  max-width: 70%;
  margin: auto;
  background-image: url("/src/assets/images/poster_background.jpg");
  background-size: contain;
  background-position-y: 75px;
}

body {
  min-height: 100%;
  background: white;
}

.blue {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

.custom-link {
  cursor: pointer;
}

/* --------- */
/* Home section */
/* --------- */
.home-header {
  padding-top: 60px !important;
}

.home-section {
  position: static;
  height: calc(100vh - 55px);
  z-index: -1;
  padding-bottom: 30px !important;
  padding-top: 0px !important;
  padding-bottom: 60px;
  background-color: beige;
}

.home-content {
  padding: 8rem 0 2rem !important;
  color: white;

  text-align: center;
}

/* --------- */
/* Calendar */
/* --------- */

.calendar-page {
  position: relative !important;
  padding-top: 25px !important;
  padding-bottom: 55px !important;
  background-color: var(--section-background-color) !important;
  color: black !important;
  height: 100vh;
}

.calendar-content {
  padding-bottom: 55px !important;
}

/* --------- */
/* Searchbox*/
/* --------- */

.searchbox {
  margin: 0 auto;
  width: fit-content;
}

/* --------- */
/* Concert List Page */
/* --------- */

.concert-page {
  padding: 8rem 0 2rem !important;
  position: relative !important;
  background: var(--section-background-color) !important;
  color: black !important;
  height: fit-content;
}

.concert-list {
  padding: 5rem 0 2rem !important;
  position: relative !important;
  background: var(--section-background-color) !important;
  color: black !important;
  height: fit-content;
  padding-bottom: 10px !important;
}

.empty-concert-list {
  padding: 8rem 0 2rem !important;
  position: relative !important;
  background: var(--section-background-color) !important;
  color: black !important;
  height: calc(100vh - 710px);

}

#list-item {
  background-color: white;
  min-height: 10px;
  color: black;
  text-align: center;
}

.concert-list-content {
  height: fit-content;
  padding-bottom: 125px !important;
}

.list-group-item {
  border-radius: 5px;
}

.top-paginated-buttons {
  text-align: right;

  -ms-transform: translate(-2%, -50%);
  transform: translate(-2%, -50%);
}

.bottom-paginated-buttons {
  text-align: center !important;
}

.custom-link {
  background-color: black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.page-buttons {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border: 2px solid grey;
  margin: 2px;
}

/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  background-color: beige;
  color: black !important;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: beige;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
}

